/**
 * Base16 Yin Light
 *
 * @author Drew Flower (http://github.com/drewvanstone)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #222222;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #BBBBBB;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #777777; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #777777; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #777777; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #777777; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #222222; /* blue */
}

pre .keyword, pre .storage {
    color: #222222; /* purple */
}
