[colors]
# Base16 Yin
# Scheme: Drew Flower (http://github.com/drewvanstone)

foreground      = #DDDDDD
foreground_bold = #DDDDDD
cursor          = #DDDDDD
background      = #222222

# 16 color space
color0  = #FFFFFF
color1  = #777777
color2  = #777777
color3  = #777777
color4  = #222222
color5  = #222222
color6  = #222222
color7  = #555555
color8  = #BBBBBB
color9  = #777777
color10 = #777777
color11 = #777777
color12 = #222222
color13 = #222222
color14 = #222222
color15 = #222222

# 256 color space
color16 = #777777
color17 = #777777
color18 = #EEEEEE
color19 = #DDDDDD
color20 = #BBBBBB
color21 = #777777
