[global_config]
  title_transmit_bg_color = "#777777"
  title_inactive_bg_color = "#BBBBBB"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#FFFFFF:#777777:#777777:#777777:#222222:#222222:#222222:#555555:#BBBBBB:#777777:#777777:#777777:#222222:#222222:#222222:#222222"
    foreground_color = "#DDDDDD"
    background_color = "#222222"
    cursor_color = "#DDDDDD"

  [[Base16 Yin Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#222222:#777777:#777777:#777777:#222222:#222222:#222222:#555555:#BBBBBB:#777777:#777777:#777777:#222222:#222222:#222222:#FFFFFF"
    foreground_color = "#DDDDDD"
    background_color = "#222222"
    cursor_color = "#DDDDDD"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Yin Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
