/* Base16 Yin
Scheme: Drew Flower (http://github.com/drewvanstone) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #222222; color: #DDDDDD }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #777777; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #222222; }
pre.sourceCode { background-color: #222222; line-height: 125% }
td.nums pre { background-color: #777777; line-height: 125% }
code.sourceCode span.kw { color: #222222; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #222222} /* Keyword.Type */
code.sourceCode span.dv { color: #777777 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #777777 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #777777 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #777777} /* Literal.String.Char */
code.sourceCode span.st { color: #777777 } /* Literal.String */
code.sourceCode span.co { color: #BBBBBB } /* Comment */
code.sourceCode span.ot { color: #777777 } /* Comment.Preproc */
code.sourceCode span.al { color: #222222 } /* Generic.Error */
code.sourceCode span.fu { color: #777777 } /* Name.Function */
code.sourceCode span.re { color: #222222}
code.sourceCode span.er { color: #777777; border: 1px solid #222222 } /* Error */
